body
{
 background-color:rgb(42, 35, 240); 
}
h1
{
text-align: center;
color: rgb(241, 255, 91);
}
h2
{
text-decoration: underline;
}
h3
{
text-decoration: underline;
}
h4
{
text-decoration: underline;
text-align: center;
}


img {
 width:30%;
 height : 30% ;
 text-align : center;
 }
 p
 {
     text-align: center;
 }
 